/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  /*color: #156289*/
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*TODO*/
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
  Customized style
   ========================================================================== */

body { margin: 0; }
canvas { width: 100%; height: 100% }

.main-scene-container {
  width: 100%;
  height: 100%
}

.menu-contrainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: auto;
}
.bg-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 0;
  transition: all 350ms ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.enlarge {
  width: 270px;
  height: 100%;
  /*background-color: #efefef;*/
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.2556372890953257) 90%, rgba(0,212,255,0) 100%);
}
.prompt {
  position: fixed;
  width: 100%;
  text-align: center;
  line-height: 114px;
  font-family: Georgia;
  color: #666;
}

.reveal {
  opacity: .85;
  display: block;
  pointer-events: auto;
  visibility: visible;
}

.hamburger-shell {
  margin: 0;
  position: fixed;
  overflow: hidden;
  width: 70px;
  height: 100px;
  overflow: auto;
  right: calc(100% - 100px);
  top: 0px;
  cursor: pointer;
}

.top, .middle{
  position: absolute;
  width: 62px;
  height: 8px;
  background-color: #000;
  border: 0;
  border-right: 1px solid #b3d4fc;
  border-bottom: 1px solid #b3d4fc;
  transition: all 350ms ease-in-out;
  top: 20px;
}

.middle {
  top: 40px;
}


.menu-name {
  font-family: Verdana;
  font-weight: 900;
  color: black;
  font-size: 19.5px;
  text-decoration: none;
  position: absolute;
  top: 56px;
  left: -1px;
  transition: all 350ms;
  text-shadow: 1px 1px #b3d4fc;
}

#menu {
  position: fixed;
  right: calc(100% - 285px);
  top: 10px;
  color: #333;
  display: none;
  margin: 120px 30px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
  padding: 24px;
  width: 200px;
  text-align: left;
}
#menu a {
  text-decoration: none!important;
}

#menu .menu-section {
  text-decoration: none!important;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid #fff;
  list-style: none;
  color: #fff;
  transition: all 150ms ease;
  margin-top: 1rem;
  font-weight: 800;
}

.menu-template-btn {
  color: white;
  border: none;
  background: transparent;
  text-transform: uppercase;
}

button:focus {outline:0;}
.menu-template-btn:active {
  border: none;
}
.menu-template-btn:hover{
  color: #0071a9;
  padding-left: 3px;
  border: none;
}
.menu-template-btn.active {
  color: #b3d4fc;
  font-weight: 900;
  border: none;
  margin: 0.5rem 0 0.5rem 0;
}

.menu-template-btn .menu-template-img {
  display: none;
}

.menu-template-btn.active .menu-template-img {
  display: inherit;
  width: 100px;
  border: 4px solid #fff;
  border-radius: 2px;
  margin-bottom: 5px;
}

.rotate {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  top: 30px;
  background-color: #b3d4fc;
  height: 7px;
}

.rotate-back {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  top: 30px;
  background-color: #b3d4fc;
  height: 7px;
}

.top {
  -webkit-animation-delay: 100ms;
}

.middle {
  -webkit-animation-delay: 250ms;
}

.bottom {
  -webkit-animation-delay: 400ms;
}

.bump {
  top: 64px;
  color: #b3d4fc;
}

/*Loading */
#loading-canvas {
  min-width: 100vw;
  min-height: 100vh;
  z-index: 10000;
  display: none;
  background-color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  justify-content: center;
  position: fixed;
}

#loading-canvas.displayable {
  display: flex;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/*music icon*/

.menu-music-icon img {
  opacity: 0.3;
  width: 1.5rem;
  border-radius: 50%;
  padding: 0.2rem;
}

.menu-music-icon img:hover {
  width: 2rem;
}

.menu-music-icon.active img {
  opacity: 1;
  border: #63a9fd 2px solid;
  animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
